/* width */
.InfoPenawar::-webkit-scrollbar {
    width: 10px;
}
.ContainerPenawar{
    
    height: max-content;
    position: relative;
    font-family: 'poppins', sans-serif;
}

.JudulPenawrProduct{
    text-align: center;
}

.BodyPenawar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    /* height: 100%; */
    /* background-color: blue; */
    margin-top: 30px;
}

.InfoUser{
    margin-left: 50px;
    height: 80vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.RowUser{
    display: flex;
    width: 300px;
    height: fit-content;
    position: relative;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ImgUser{
    position: relative;
    margin-right: 20px;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.textUser{
    margin-top: 20px;
    font-size: 14px;
}
.ImgAdd{
    width: 15px;
    margin-left: 50px;
    position: relative;
}
/* Akhir User Penawar */

/* Awal Produk Penawar */
.InfoPenawar{
    width: 850px;
    height: 80vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    margin-right: 40px;
    background-color: #ccc;
    /*border: 1px solid green;
    */border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.judulInfoProduk{
    text-align: center;
    font-size: 24px;
}

.RowPenawar{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.RowPenawar img{
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.DetailProduk{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid green; */
    font-size: 12px;
    padding-top: 5px;
}
.DetailProduk h4{
    color: red;
}

.ActionButton{
    /* border: 1px solid green; */
    /* margin-top: 10px; */
    margin-top: 10px;
    margin-left: 130px;
    position: relative;
}
.ActionButton label{
    margin-left: 300px;
}
.BtnPenawar{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    /* margin-left: 20px; */
    /* padding: 20px; */
}
.BtnCancle{
    background-color: #DB0000;
    border: 1px solid #DB0000;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.BtnAccept{
    background-color: #26B54E;
    border: 1px solid #26B54E;
    margin-left: 20px;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Akhir Produk Penawar */

@media screen and (min-width: 992px) {
    .InfoPenawar::-webkit-scrollbar{
    width: 10px;
    }
    .ContainerPenawar{
        margin-top: 50px;
        height: max-content;
        font-family: 'poppins', sans-serif;
    }

    .JudulPenawrProduct{
        text-align: center;
        font-size: 24px;
        color: #000000;
    }

    .BackProduk{
        width: fit-content;
        height: fit-content;
        margin-left: 200px;
        cursor: pointer;
        position: absolute;
    }

    .BodyPenawar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BackProduk{
        width: fit-content;
        height: fit-content;
    }

    .RowUser{
        display: flex;
        width: 850px;
        height: fit-content;
        position: relative;
        padding: 20px;
        margin-top: 20px;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .ImgUser{
        position: relative;
        margin-right: 20px;
        width: 68px;
        height: 68px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .textUser{
        margin-top: 20px;
        font-size: 14px;
    }
    .textUser p{
        font-size: 12px;
        color: #8A8A8A;
    }
    /* Akhir User Penawar */

    /* Awal Produk Penawar */
    .InfoPenawar{
        width: 850px;
        height: 80vh;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .judulInfoProduk{
        margin-left: 10px;
        font-size: 18px;
    }

    .RowPenawar{
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .ColProduk{
        display: flex;
        flex-direction: row;
    }

    .DateProdukPenawar{
        margin-top: 5px;
        margin-left: 495px;
    }

    .RowPenawar img{
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .DetailProduk{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .DetailProduk h4{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 14px;
        color: #8A8A8A;
    }
    .DetailProduk label{
        padding-left: 10px;
    }

    .BtnPenawar{
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 10px;
    }
    
    .BtnCancle{
        width: 200px;
        height: 30px;
        cursor: pointer;
        margin-right: 15px;
        color: white;
        background-color: #DB0000;
        border: 1px solid #DB0000;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .BtnAccept{
        background-color: #26B54E;
        border: 1px solid #26B54E;
        /* margin-left: 10px; */
        color: white;
        width: 200px;
        height: 30px;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    /* Akhir Produk Penawar */
}

@media screen and (max-width: 600px) {
    .InfoPenawar::-webkit-scrollbar{
    width: 10px;
    }
    .ContainerPenawar{
        margin-top: 20px;
        height: max-content;
        font-family: 'poppins', sans-serif;
    }

    .TitlePenawar{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0px 100px 0px 20px;
    }

    .JudulPenawrProduct{
        margin-top: 5px;
        font-size: 14px;
        color: #000000;
    }

    .BackProduk{
        width: fit-content;
        height: fit-content;
        cursor: pointer;
    }

    .InfoUser{
        display: flex;
        justify-content: center;
    }

    .RowUser{
        display: flex;
        width: 320px;
        height: fit-content;
        position: relative;
        padding: 20px;
        margin-top: 20px;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .ImgUser{
        position: relative;
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .textUser{
        margin-top: 20px;
        font-size: 14px;
    }
    .textUser p{
        font-size: 12px;
        color: #8A8A8A;
    }

    /* Awal Produk Penawar */
    .judulInfoProduk{
        font-size: 14px;
        margin-top: 20px;
        margin-left: 35px;
    }

    .RowPenawar{
        padding: 10px 30px 30px 30px;
        /* border: 1px solid blue; */
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .ColProduk{
        display: flex;
        flex-direction: row;
        /* border: 1px solid green */
    }

    .DateProdukPenawar{
        font-size: 10px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .RowPenawar img{
        width: 68px;
        height: 68px;
        padding: 10px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .DetailProduk{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        font-size: 10px;
        /* padding-top: 5px; */
    }
    .DetailProduk h4{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 10px;
        color: #8A8A8A;
    }
    .DetailProduk label{
        padding-left: 10px;
        font-size: 14px;
    }

    .BtnPenawar{
        display: flex;
        /* border: 1px solid green; */
        flex-direction: row;
        justify-content: end;
        margin-top: 20px;
    }
    
    .BtnCancle{
        width: 200px;
        height: 30px;
        cursor: pointer;
        margin-right: 15px;
        color: white;
        background-color: #DB0000;
        border: 1px solid #DB0000;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .BtnAccept{
        background-color: #26B54E;
        border: 1px solid #26B54E;
        /* margin-left: 10px; */
        color: white;
        width: 200px;
        height: 30px;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    /* Akhir Produk Penawar */
}
