.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 10px;
    height: 288px;
    border-radius: 16px;
    opacity: 0.4;
}

.swiper-slide img {
    display: block;
    width: 1000px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    transform: scale(0.86);
}

.swiper-slide-active {
    transform: scale(1.2) !important;
    transition: .4s ease all !important;
    opacity: 1 !important;
}